
.ronaldo{
    background: url(ribamar.png);
    margin: auto;
    text-align: center;
    padding: 100px ;
    border: solid lime 15px;
}
.cachorro{
    text-align: center;
    margin-left: 20px;
    background-color: lime;
}
body{
    background-color: yellow;
}
.esgasgado{
    background-color: peru;
    border: solid red;
    padding: 5px;
    float: right;

}
h3{
    font-size: xx-large;
}